// -- Fonts --
$title-font: Renogare, Arial, sans-serif ;
$content-font: Tiempo, 'Times New Roman', serif;
$menu-font: Consolas, serif; 
$code-font: Monospace, Consolas, serif;
$btn-sample-font: Arial, serif;
$content-fontsize: 1.4em;
$h1-fontsize: 3em;
$h2-fontsize: 2.3em;
$h3-fontsize: 2em;

// -- Colors --
$primary-color: #242121;
$secondary-color: #272727;
$ternary-color: #EEEEEE;
$content-color: #161616;
$background-color: #FAFAFA;
$link-color: #BD1E13;
$menu-color: white;
$btn-sample-color: #0074D9;

// -- Sizes --

$header-height: 100px;
$jumbotron-height: 650px;
$doc-height: 260px;
$footer-height: $doc-height;
$primary-width: 62%;
